@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Base text styles */

body {
  padding:10px 50px 0 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #232323;
	background-color: #FBFAF7;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;

}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
	font-family: Arvo, Monaco, serif;
  line-height:1.3;
	font-weight: normal;
}

h1,h2, h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-family: Arvo, Monaco, serif;
	font-weight: 700;
}

a {
  color:#C30000;
  font-weight:200;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul {
  list-style: inside;
  padding-left: 25px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr{
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#000;
  font-size:14px;
}

pre {
	padding: 4px 12px;
  background: #FDFEFB;
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
	margin-bottom: 32px;
}


/* Tables */

table {
  width:100%;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB;
 }

td {
  padding: 10px;
	background: #ccc;
 }

.container{
	margin-left: auto;
	margin-right: auto;
	width: 960px
}

#header{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 940px;
}

#sidebar{
	display:inline;
	float:left;
	margin-top:50px;
	margin-right:10px;
	margin-left:10px;
	width:260px;
}

#sidebar p{
    color: #888;
	font-size: 0.9em;
    font-style: italic;
}

#sidebar ul a{
	color: #fff;
}

a.header {
	text-decoration: underline;
}

a.name {
	white-space: nowrap;
}

#sidebar ul {
  list-style:none;
  padding-left:55px;
}

#sidebar li {
	list-style-type: none;
  width:132px;
  height:15px;
	margin-bottom: 12px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	background: #AF0011;
	background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(top, #AF0011 0%,#820011 100%);

	border-radius:4px;
  border:1px solid #0D0D0D;

	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

#sidebar li:hover {
	background: #C3001D;
	background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(top, #C3001D 0%,#950119 100%);
}

a.buttons {
	-webkit-font-smoothing: antialiased;
	/*background: url(../images/arrow-down.png) no-repeat;*/
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

a.download{
	background: url(../images/arrow-down.png) no-repeat;
}

a.github {
	background: url(../images/octocat-small.png) no-repeat 1px;
}

a.buttons:hover {
	color: #fff;
	text-decoration: none;
}

#content {
	padding-right:50px;
	text-align: justify;
	border-right: 1px solid #ccc;
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:50px;
	width:600px;
}

/* Section - for main page content */

/* MENU */
#access {
	float: right;
	margin: 0 auto 6px;
}
#access ul {
	list-style: none;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
	text-transform: uppercase;
	font-size: 13px;
	/*font-family: Helvetica, Arial;*/
	font-family:'Liberation Sans',FreeSans,'Helvetica Neue LT Std','Helvetica LT Std',Helvetica,Arial,Tahoma,'Lucida Grande','Lucida Sans',sans-serif;

	font-weight: bold;
}
#access li {
	float: left;
	position: relative;
	margin: 0;
}
#access a {
	color: #111;
	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none;
	border: none;
}
#access a:hover {
	color: #c00;
}
#access ul ul {
	border-radius: 2px;
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3em;
	left: 0;
	width: 168px;
	z-index: 99999;
	padding: 10px 0;
	background: #eee;
	padding: 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}
#access ul ul:before {
    border-bottom: 5px solid #f3f3f3;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 30%;
    position: absolute;
    top: -5px;
    width: 0;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul ul:before {
    border-right: 5px solid #eee;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 15px;
    width: 0;
}
#access ul ul a {
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 5px 10px;
	width: 148px;
	text-transform: none;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	color: #c00;
}
#access ul ul li:hover > a,
#access ul ul a:focus {
	background: #fff; /* Show a solid color for older browsers */
	color: #c00;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	font-weight: bold;
}


